/* Style the search box */
#pageSearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#pages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#pages li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#pages li a:hover {
  background-color: #eee;
}
